.gallery {
	--gap: var(--spacing-2);

	display: grid;
	grid-template-columns: 4fr 8fr;
	gap: var(--gap);

	@media (max-width: $bp-medium) {
		transform: translateX(-2.4rem);
	}

	@media (min-width: $bp-medium) {
		--gap: 3rem;
		--pd-inline: var(--spacing-4);

		padding-inline: var(--pd-inline);
	}

	@media (min-width: $bp-large) {
		--pd-inline: 8rem;
	}

	@media (min-width: $bp-large-xl) {
		--pd-inline: 0;
	}

	&__image {
		border-radius: var(--borr-lg);
		overflow: hidden;

		& img {
			object-fit: cover;
			height: 100%;
		}

		&--highlighted {
			background-color: var(--bg-image-highlighted);

			img {
				mix-blend-mode: multiply;
			}
		}
	}
}
