.header {
	margin-bottom: var(--spacing-2);
	overflow: hidden;

	@media (min-width: $bp-medium) {
		margin-bottom: var(--spacing-4);
	}

	@media (min-width: $bp-large-xl) {
		margin-bottom: 3rem;
	}

	&__body {
		display: grid;
		gap: var(--spacing-6);

		@media (min-width: $bp-medium) {
			grid-template-columns: repeat(2, 1fr);
			gap: 0;

			padding-left: var(--spacing-4);
		}

		@media (min-width: $bp-large) {
			--spacing-4: 8rem;

			grid-template-columns: repeat(2, 1fr);
			gap: 0;
		}

		@media (min-width: $bp-large-xl) {
			grid-template-columns: repeat(12, 1fr);
			padding-inline: var(--spacing-10);
		}
	}

	&__content {
		padding-inline: var(--spacing-2);

		@media (min-width: $bp-medium) {
			display: grid;
			align-content: center;

			padding-inline: 0;
		}

		@media (min-width: $bp-large-xl) {
			grid-column: 1 / span 5;
		}
	}

	&__heading {
		margin-bottom: var(--spacing-2);
		font-size: var(--fz-large-xl);

		@media (min-width: $bp-medium) {
			--spacing-2: 2.8rem;
		}

		@media (min-width: $bp-large-xl) {
			--spacing-2: 1.6rem;
			--fz-large-xl: 5.6rem;
		}
	}

	&__text {
		margin-bottom: var(--spacing-3);
		font-size: var(--fz-regular);

		@media (min-width: $bp-medium) {
			--spacing-3: 4.2rem;
		}

		@media (min-width: $bp-large-xl) {
			--fz-regular: 1.8rem;
		}
	}

	&__image {
		@media (min-width: $bp-large-xl) {
			grid-column: 7 / span 6;
		}

		img {
			@media (max-width: $bp-large-xl) {
				margin-left: var(--spacing-2);
			}
		}
	}
}
