.navigation {
	--pd-top: var(--spacing-4);
	--pd-btm: var(--spacing-6);
	--pd-inline: var(--spacing-2);

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: var(--pd-top);
	padding-inline: var(--pd-inline);
	margin-bottom: var(--pd-btm);

	@media (min-width: $bp-medium) {
		--pd-top: 5.5rem;
		--pd-inline: 4rem;
	}

	@media (min-width: $bp-large) {
		--pd-inline: 8rem;
	}

	@media (min-width: $bp-large-xl) {
		--pd-inline: 16.5rem;
		--pd-btm: 8.4rem;
	}
}
